<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{ if .IsHome }}
            <title>Crash Dive Card Trading</title>
            <meta property="og:title" content="Crash Dive Card Trading">
        {{else}}
            <title>{{ .Page.Title }} | Crash Dive Card Trading</title>
            <meta property="og:title" content="{{ .Page.Title }} | Crash Dive Card Trading">
        {{ end }}

        <meta name="Description" content="{{ .Description }}" />
        <meta property="og:description" content="{{ .Description }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Crash Dive Trading" />

        {{ $openGraph := resources.Get (print "img/open-graph/" .Params.openGraph ".webp") }}
        <meta property="og:image:url" content="{{ $openGraph.Permalink }}">
        <meta property="og:image:type" content="image/webp">
        <meta property="og:image:width" content="{{ $openGraph.Width }}">
        <meta property="og:image:height" content="{{ $openGraph.Height }}">
        <meta property="og:image:alt " content="Picture of a card of hands and text saying Crash Dive Trading">

        {{ $faviconAppleTouch := resources.Get "/favicon-apple-touch.png" }}
        {{ $favicon32 := resources.Get "/favicon-32x32.png" }}
        {{ $favicon16 := resources.Get "/favicon-16x16.png" }}
        {{ $favicon := resources.Get "/favicon.ico" }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ $faviconAppleTouch.RelPermalink }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ $favicon32.RelPermalink }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ $favicon16.RelPermalink }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ $favicon.RelPermalink }}" />

        {{ define "partials/font" }}
            {{ $font := resources.Get (print "fonts/" . ) }}
            {{ $fontFingerprint := $font | fingerprint "sha512" }}
            <link href="{{ $font.RelPermalink }}" rel="preload" as="font" type="font/ttf" integrity="{{ $fontFingerprint.Data.Integrity }}" crossorigin="anonymous">
        {{ end }}
        {{ partial "font" "comic-panels.ttf" }}
        {{ partial "font" "courier-prime.ttf" }}
        {{ partial "font" "courier-prime-bold.ttf" }}
        {{ partial "font" "courier-prime-italic.ttf" }}
        {{ partial "font" "courier-prime-bold-italic.ttf" }}
        {{ if isset .Params "fonts" }}
            {{ range .Params.fonts }}
                {{ partial "font" . }}
            {{ end }}
        {{ end }}
        
        {{ define "partials/css" }}
            {{ $css := resources.Get (print "css/" . ".css") | minify | fingerprint "sha512" }}
            <link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous" />
        {{ end }}
        {{ partial "css" "base" }}
        {{ range .Params.css }}
            {{ partial "css" . }}
        {{ end }}

        {{ define "partials/ts" }}
            {{ $ts := resources.Get (print "ts/" . ".ts") | js.Build | minify | fingerprint "sha512" }}
            <script src="{{ $ts.RelPermalink }}" defer integrity="{{ $ts.Data.Integrity }}" crossorigin="anonymous"></script>
        {{ end }}
        {{ partial "ts" "nav-menu" }}
        {{ if isset .Params "ts" }}
            {{ range .Params.ts }}
                {{ partial "ts" . }}
            {{ end }}
        {{ end }}
    </head>
    <body>
        <header>
            <div id="header-box">
                <div>
                    <h1>Crash Dive Trading</h1>
                    <p>Trade cards with me!</p>
                </div>
                <button id="nav-button" class="is-closed" type="button" aria-label="Opens navigation menu">
                    <div class="nav-button-line" id="nav-button-line-top"></div>
                    <div class="nav-button-line" id="nav-button-line-mid"></div>
                    <div class="nav-button-line" id="nav-button-line-bot"></div>
                </button>
            </div>
            <nav id="nav-menu">
                <a href="/">Home</a>
                <a href="/cards">Cards</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <main>
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </main>
    </body>
</html>
