#game-search {
    box-shadow: var(--comic-box-shadow);
    border: var(--comic-box-shadow-border);
    background: white;
    font-family: var(--courier);
    font-size: 2em;
    text-align: center;
    width: calc(100% - 30px);
    margin: 20px 20px 10px 10px;
    padding: 2px;
    display: block;
}

    #game-search:focus {
        outline: none;
    }

#game-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: var(--courier);
    padding: 0;
    margin: 0;
}

    #game-list li {
        width: 180px;
        margin: 10px 5px;
        display: flex;
    }

        #game-list li[hidden] {
            display: none;
        }

        #game-list a {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

            #game-list a:hover {
                transform: scale(1.05);
            }

            #game-list img {
                width: 100%;
                border-radius: 10px;
                z-index: 2;
            }

            #game-list h2{
                margin: 0;
                text-align: center;
                border: 4px solid black;
                background-color: white;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                margin-top: -20px;
                padding-top: 20px;
                z-index: 1;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            
            #game-list a:hover h2 {
                background-color: black;
                color: white;

            }
