body, html {
    height: 100%;
    max-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 20px 20px 10px;
    box-shadow: var(--comic-box-shadow);
    border: var(--comic-box-shadow-border);
    background: white;
    font-family: var(--courier);
}

    .tabulator-edit-select-list {
        font-family: var(--courier); /* Gets added outside the main element */
    }

#game-details {
    display: flex;
    padding-bottom: 5px;
}

    #card-back {
        height: 100px;
        margin: 5px 10px 0 5px;
    }

    #game-name-and-description {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
        #game-name {
            margin: 0;
        }

            #game-publisher {
                margin: 0;
                font-size: 0.8em;
                font-style: italic;
            }

            #game-description {
                margin: 5px 0;
            }
            
            #game-commentary {
                margin: 0;
            }

    #download {
        height: 40px;
        margin: 5px 5px 0 10px;
        padding: 0;
        background: white;
        border: none;
        cursor: pointer;
    }

        #download:disabled {
            visibility: hidden;
        }

        #download:hover {
            transform: scale(1.1);
        }

        #download-csv {
            height: 100%;
        }

#filter {
    display: flex;
}

    #filter input {
        display: none;
    }

    #filter label {
        padding: 5px;
        margin: 0;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
    }

        #filter label:last-child {
            border-right: none;
        }

        #filter label:hover,
        #filter input:checked + label:hover {
            color: white;
            background-color: var(--dark-blue);
        }

        #filter label:active,
        #filter input:checked + label:active {
            color: white;
            background: black;
        }

        #filter input:checked + label {
            color: white;
            background: black;
        }

#table-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
}

    #table {
        position: relative;
        height: 100%;
    }

    #loading {
        display: flex;
        position: absolute;
        top: 40%;
        width: 100%;
        justify-content: center;
    }

        #loading div {
            animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
            width: 10px;
            height: 40px;
            border-radius: 10px;
        }

        #loading div:first-child {
            animation-delay: -0.24s;
            background: var(--dark-blue);
        }

        #loading div:nth-child(2) {
            margin:0 30px;
            animation-delay: -0.12s;
            background: var(--red);
        }

        #loading div:last-child {
            animation-delay: 0;
            background: var(--dark-blue);
        }

        @keyframes loading {
            0% {
                transform: scale(1);
            }
            50%, 100% {
                transform: scale(2);
            }
        }