:root {
    --blue: #2883BA;
    --red: #C80000;
    --dark-blue: #3A6F9B;
    --background-yellow: #feffe3;
    --comic-panels: comic-panels, Arial Black, Arial, Helvetica, sans-serif;
    --courier: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: comic-panels;
    src: url(../fonts/comic-panels.ttf) format("truetype");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: 
        url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23E0E0E0"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
        var(--background-yellow);
    background-size: 12px, 100%;
}

header {
    display: flex;
    font-family: var(--comic-panels);
}

#header-box {
    padding: 10px 20px;
    border: 4px solid black;
    box-shadow: 10px 10px 0px 0px black;
    background-color: white;
    margin: 10px 20px 0 10px;
    display: flex;
}

    #header-box h1 {
        color: var(--blue);
        margin: 0;
    }

    header p {
        color:var(--red);
        margin: 0;
    }

@media (max-width: 1023px) {
    #header-box {
        width: 100%;
        justify-content: space-between;
    }

        #nav-button {
            position: relative;
            border: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            background-color: transparent;
            z-index: 20;
            width: 40px;
            height: 24px;
        }
        
            .nav-button-line {
                position: absolute;
                width: 40px;
                height: 4px;
                border-radius: 4px;
                background-color: black;
                display: block;
                transform: translate(0, 0) rotate(0);
                transition: 
                    top .25s ease 0s,
                    transform .25s ease .25s; 
            }
        
                #nav-button-line-top {
                    top: 0; 
                    transform-origin: bottom left;
                }
        
                #nav-button-line-mid {
                    top: 10px;
                    transform-origin: bottom right;
                }
                
                #nav-button-line-bot {
                    top: 20px;
                    transform-origin: bottom right;
                }
        
                    #nav-button:hover .nav-button-line {
                        background-color: var(--blue);
                    }
    
                    #nav-button.is-open .nav-button-line {
                        background-color: white;
                    }
                
                #nav-button:hover.is-open .nav-button-line {
                    background-color: black;
                }
                
                #nav-button.is-open .nav-button-line {
                    top: 20px;
                }
        
                #nav-button.is-closed .nav-button-line {
                    transition: 
                        top .25s ease .25s,
                        transform .25s ease 0s; 
                }
        
                    #nav-button.is-open #nav-button-line-top {
                        transform: translate(7px, 0) rotate(-45deg);
                        transform-origin: bottom left;
                    }
        
                    #nav-button.is-open #nav-button-line-bot,
                    #nav-button.is-open #nav-button-line-mid {
                        transform: translate(-7px, 0) rotate(45deg);
                        transform-origin: bottom right;
                    }

    #nav-menu {
        height: 100%;
        width: 100%;
        right: -100%;
        top: 0;
        padding: 60px 0 0 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 300ms right cubic-bezier(0.77, 0, 0.175, 1);
        z-index: 10;
        border: 5px solid black;
        background: var(--dark-blue);
    }
    
        #nav-menu.is-open,
        #nav-menu-frame.is-open {
            right: 0;
        }
    
        #nav-menu > a {
            font-size: 3em;
            font-family: var(--spantaran);
            color:white;
            margin-bottom: 20px;
        }
    
        #nav-menu > a:hover {
            color: black;
        }
}

@media (min-width: 1024px) {
    #nav-menu {
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 2em;
        margin-top: 14px
    }

        #nav-menu a {
            margin-left: 4%;
        }

        #nav-menu a:hover {
            text-decoration: underline;
            color: var(--red)
        }

    #nav-button {
        display: none;
    }
}
