:root {
    --card-height-mobile: 200px;
    --card-height-half-mobile: -100px;
    --card-height-desktop: 400px;
    --caveat: Caveat, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Caveat;
    src: url('../fonts/caveat.ttf') format('truetype');
    font-display: swap;
}

#welcome-and-intro .small-print {
    font-size: 1em;
    margin: 0 10px 10px;
    border-top: 1px dotted black;
    padding-top: 10px;
}

#card-on-table {
    transform: rotateX(59deg) rotateZ(40deg);
    box-shadow: 15px 15px 2px #000000a8;;
    backface-visibility: hidden;  /* Removes jagged borders in Chrome */
    background: black;  /* Removes transparant corners caused by box shadow */
    border-radius: 10px; /* Rounds the box shadow */
}

#card-hand img {
    backface-visibility: hidden; /* Removes jagged boarders in Chrome */
    border-radius: 10px; /* Rounds the box shadow */
}

    #card-hand-1 {
        transform: rotate(-15deg);
        box-shadow: -10px 15px 2px #000000a8;
    }

    #card-hand-2 {
        transform: rotate(-5deg);
    }

    #card-hand-3 {
        transform: rotate(5deg);
    }

    #card-hand-4 {
        transform: rotate(15deg);
        box-shadow: 10px 15px 2px #000000a8;
    }

@media (max-width: 1023px) {
    #welcome-and-intro {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #deck-comment {
        display: none;
    }

    #card-on-table {
        height: var(--card-height-mobile);
        display: block;
        margin: 0 auto;
    }

    #card-hand {
        margin: 0 auto -50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

        #card-hand img {
            height: var(--card-height-mobile);
            margin-left: var(--card-height-half-mobile);
        }

        #card-hand img:first-child {
            margin-left: 0;
            margin-bottom: -20px;
        }

        #card-hand img:last-child {
            margin-bottom: -20px;
        }

        #welcome-and-intro {
            z-index: 5;
            position: relative;
        }
}

@media (min-width: 1024px) {
    #welcome-and-intro {
        width: 50%;
    }
    
    #card-on-table {
        height: var(--card-height-desktop);
        position: fixed;
        top: 15%;
        left: 65%;
    }

    #deck-comment {
        width: 50%;
        margin: 40px 0 0 0;
        font-family: var(--caveat);
    }

        #large-comment {
            font-size: 4em;
            text-align: center;
            margin: 0;
        }

        #small-comment {
            font-size: 1em;
            text-align: center;
            margin: 0;
        }

    #card-hand {
        position: fixed;
        width: 40%;
        top: 60%;
        left: 60%;
    }

        #card-hand img {
            height: var(--card-height-desktop);
            position: absolute;
        }

        #card-hand-1 {
            left: 0;
        }

        #card-hand-2 {
            left: 5%;
        }

        #card-hand-3 {
            left: 15%;
        }

        #card-hand-4 {
            left: 25%;
        }
}
