{{ define "main" }}
    <input id="game-search" type="search" placeholder="Search" autofocus class="main-shadow-box" />
    <ul id="game-list">
        {{ range .Pages }}
            {{ $imgPath:= print "img/cards/" .File.BaseFileName ".jpg" }}
            {{ $img := resources.Get $imgPath }}

            <li data-name="{{ lower .Title }}">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                    <img src="{{ $img.RelPermalink }}" alt="Card back for {{ .Title }} card game" />
                    <h2>{{ .Title }}</h2>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}