{{ define "main" }}
    <div id="game-details">
        <img id="card-back" src="/img/cards/{{ .File.BaseFileName }}.jpg" />
        <div id="game-name-and-description">
            <h2 id="game-name">{{ .Title }}</h2>
            <p id="game-publisher">{{ .Params.publisher }} ({{ .Params.released }})</p>
            <p id="game-description">{{ .Description }}</p>
            <p id="game-commentary">{{ .Params.commentary }}</p>
        </div>
        <button id="download" type="button" title="Download card data as a csv" disabled>
            {{ $svg := resources.Get "img/icons/download-csv.svg" | minify }}
            <img id="download-csv" src="{{ $svg.RelPermalink }}" alt="Download CSV Icon" />
        </button>
    </div>
    <div id="filter">
        <input id="filter-want" name="filter" type="radio" disabled checked />
        <label for="filter-want" title="The cards I want">Want List</label>
        
        <input id="filter-trade" name="filter" type="radio" disabled />
        <label for="filter-trade" title="The cards I have available to trade">Trade List</label>
        
        <input id="filter-have" name="filter" type="radio" disabled />
        <label for="filter-have" title="The cards I have">Have List</label>

        <input id="filter-all" name="filter" type="radio" disabled />
        <label for="filter-all" title="All the cards in this set">All</label>
    </div>
    <div id="table-wrapper">
        <div id="table" data-url="{{ .Params.sheet }}">
            <div id="loading">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
{{ end }}
