{{ define "main" }}
    <div id="game-details">
        <details id="game-name" title="Click to minimise details section" open>
            <summary>
                <h2>
                    <span>{{ .Title }}</span>
                    <span id="details-open">▼</span>
                    <span id="details-closed">►</span>
                </h2>
            </summary>
        </details>
        <div id="card-back" >
            <img id="card-back-image" src="/img/cards/{{ .File.BaseFileName }}.jpg" />
            
            <!-- A transparent PNG 35x25 px (10% of the cardback) used to expand this grid cell on mobile devices -->
            <img id="card-back-expander" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAjCAQAAADLAWkjAAAAHElEQVR42mNkIBkwjmoZ1TKqZVTLqJZRLUNWCwCEewAkeRv06AAAAABJRU5ErkJggg=="> 
        </div>
        <p id="game-publisher">{{ .Params.publisher }} ({{ .Params.released }})</p>
        <p id="game-description">{{ .Description }}</p>
        <p id="game-commentary">{{ .Params.commentary }}</p>
        <button id="download" type="button" title="Download card data as a csv" disabled>
            {{ $svg := resources.Get "img/icons/download-csv.svg" | minify }}
            <img id="download-csv" src="{{ $svg.RelPermalink }}" alt="Download CSV Icon" />
        </button>
    </div>
    <div id="filter">
        <input id="filter-want" value="want" name="filter" type="radio" disabled />
        <label for="filter-want" title="Cards I want">Want</label>
        
        <input id="filter-trade" value="trade" name="filter" type="radio" disabled />
        <label for="filter-trade" title="Cards I have available to trade">Trade</label>
        
        <input id="filter-have" value="have" name="filter" type="radio" disabled />
        <label for="filter-have" title="Cards I have in my collection">Have</label>

        <input id="filter-all" value="all" name="filter" type="radio" disabled />
        <label for="filter-all" title="Information about all the cards in this game">All</label>
    </div>
    <div id="table-wrapper">
        <div id="table" data-url="{{ .Params.sheet }}">
            <div id="loading">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
{{ end }}
